aside .list .list__group a.list__tile.list__tile--link:hover {
    background: transparent;
}

.no-padding {
    padding: 0px !important;
}

.application--wrap .content--wrap .content-card {
    position: relative;
    top:-78px;
}

.application--wrap .content--wrap .table-card {
    position: relative;
    top:-81px;
    margin-bottom: -58px !important;
}